<h2>Login</h2>

<% if @error %>
<%="Invalid email/password combination."%>
<% end %>

<form method="post" action="/sessions">
  <label for="title-input" class="block mar-b-1">Email:</label>
  <input id="title-input" name="email" type="text" value="<%= @entry.try(:title) %>" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">
  <label for="title-input" class="block mar-b-1">Password:</label>
  <input id="title-input" name="pass" type="text" value="<%= @entry.try(:title) %>" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">
  <input type="submit" value="Login" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>