#need to rename variables
<h1><%= @stack.name %></h1>

<p>you've completed a round of <%= @stack.name %>.
  you answered <% place holder %> of <% nother place holder%> cards correctly
  on the first try. you submitted <% last place holder%> total guesses
  before each card was answeed correctly.
</p>