<h1>Results</h1>

<ul class='center'>
  <li>You've completed a round of <%= @round.deck.name %>!!</li>
  <li>Total cards &nbsp&nbsp&nbsp&nbsp: <%= @cards.length %></li>
  <li>Total guesses : <%= @guesses.length %></li>
</ul>

<img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block"><img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block"><img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block"><img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block">

<img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block"><img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block"><img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block"><img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block">

<img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block"><img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block"><img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block"><img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block">

<iframe src="https://player.vimeo.com/video/38195013?autoplay=1" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


