<h1><%= @stack.name %></h1>

<h2><%= @flash_card.question%></h2>


<form method="post" action="/decks/:id/cards/:id">
  Answer: <br>
  <input  type="text" name="answer">
  <input type="submit" value="submit">
</form>