<h3 class="text-c"><%=@deck.name%></h3>
  <!-- <@card = @cards.first%> -->
  <p><%=@cards.first.question%></p>
  <form method="post" action="/guesses">
  <label for="title-input" class="block mar-b-1">Answer:</label>
  <input id="title-input" name="answer" type="text" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">
  <input type="hidden" name="card_id" value=<%=@cards.first.id%>>
  <input type="hidden" name="deck_id" value=<%=@deck.id%>>
  <input type="submit" value="Submit" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>

