<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>The World of Flashcards</title>
</head>
<body>
  <header role="banner" class="mar-t-5 pad-t-2 pad-b-4 pad-s-1 wrap-float bg-white">
    <div class="max-w-700 center wrap-float">
      <nav class="clearfix mar-b-1">
        <ul class="no-bullets no-margin no-padding right">
          <li class="pipe-separate t-light-green left"><a href="/">home</a></li>

          <% if current_user %>
              <li class="pipe-separate t-light-green left"><a href="/users/<%=session[:user_id]%>/entries" ><%= User.find(session[:user_id]).full_name %></a></li>
              <li class="pipe-separate t-light-green left">

              <form method="post" action="/session">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="Logout!">
              </form>
              </li> <!-- this should go to delete /session -->
            <% else %>
              <li class="pipe-separate t-light-green left"><a href="/users/new">register</a></li>
              <li class="pipe-separate t-light-green left"><a href="/session/new">login</a></li>
          <% end %>

        </ul>
      </nav>

      <div class="logo-container">
        <img class="logo" src="https://media.giphy.com/media/WC0DCFkLq4faU/giphy.gif" class="center block">
        <h2>The World of Flashcards</h2>
      </div>
    </div>
  </header>

  <div class="bg-dk-green pad-t-2 pad-s-1 pad-b-8 mar-b-16 c-white">
    <div class="max-w-700 center">
      <%= yield %>
    </div>
  </div>
</body>
</html>
